body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}
.logo{
    text-align: center;
    margin-top: 40px;
}
.login-container {
    width: 350px;
    margin: 120px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.logo {
    color: #1877f2;
    font-size: 36px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 12px;
    background: #1877f2;
    color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: #166fe5;
}

.dashboard-heading {
    text-align: center;
    margin-top: 200px;
    font-size: 40px;
}

.login-links {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.login-form > p{
    font-size: 18px;
    text-align: center;
}

@media screen and (max-width: 425px) {
    .login-container {
        width: 90%;
        margin: 80px auto;
    }
}